/* Menu Section */
#menuSection {
  background: #f8f9fa;
  height: 61px;
}

#navbarMenu .nav-link {
  color: rgba(0, 0, 0, 0.5);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
}

#navbarMenu .nav-item:first-child .nav-link {
  color: rgba(0, 0, 0, 0.9);
}

#navbarMenu .nav-item:nth-child(2) .nav-link {
  font-size: 15px;
}

#formSeach i {
  color: #6c757d;
  left: 15px;
}

#inputCoursesSearch {
  border-radius: 4px;
  border: 1px solid #ced4da;
  background: #fff;
  color: #495057;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  padding-left: 36px;
}

#btnCoursesSearch {
  border-radius: 4px;
  border: 1px solid #007bff;
  color: #007bff;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
}

/* Slide Content Section */
#slideContentSection {
  background: #17a2b8;
  display: flex;
  padding: 0px calc((189.6 / 1529.2) * 100%);
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

#hightlightContent {
  height: 591px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hightlightContentTittle {
  color: #fff;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}

.hightlightContentDescription {
  color: rgba(255, 255, 255, 0.5);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.hightlightContentSearch {
  gap: 20px;
}

#btnBrowseCourses {
  display: inline-flex;
  align-items: flex-start;
  border-radius: 4px;
  border: 1px solid #ffc107;
  background: #ffc107;
  color: #212529;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

#btnBecomeInstructor {
  display: inline-flex;
  align-items: flex-start;
  border-radius: 4px;
  background: #fff;
  color: #212529;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

#imageContent {
  height: 591px;
  background-image: url(/images/ionic-207965.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-left: 0px calc((50 / 1529.2) * 100%);
}

@media screen and (max-width: 768px) {
  .hightlightContentTittle {
    font-size: 28px;
  }

  .hightlightContentDescription {
    font-size: 12px;
  }

  #btnBrowseCourses {
    font-size: 11px;
  }

  #btnBecomeInstructor {
    font-size: 11px;
  }
}

/* Courses Section */
#coursesSection {
  display: flex;
  padding: 0px calc((189.6 / 1529.2) * 100%);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.courses-header {
  color: #212529;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 38.4px;
  margin: 40px 0;
}

.courses-container {
  justify-content: space-between;
  align-items: flex-start;
}

#coursesSection .card .card-body .course-name {
  color: #007bff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19.2px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#coursesSection .card .card-body .fa-clock {
  color: #212529;
}

#coursesSection .card div:first-of-type {
  color: #212529;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

#coursesSection .card .card-body .price p:first-of-type {
  color: #343a40;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

#coursesSection .card .card-body .price p:nth-of-type(2) {
  color: #6c757d;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: line-through;
}

#coursesSection .card .card-footer .teacher-img {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 17.5px;
}

#coursesSection .card .card-footer .teacher-name {
  color: #212529;
  font-family: Roboto;
  font-size: 11.8px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
}

#coursesSection .card .card-footer .fa-bookmark {
  color: #6c757d;
  cursor: pointer;
}

/* Footer Section */
#footerSection {
  width: 100%;
  display: inline-flex;
  padding: 0px calc(((189.6 + 15) / 1529.2) * 100%) 0px
    calc(((189.6 + 126.638) / 1529.2) * 100%);
  justify-content: space-between;
  margin-top: 40px;
}

.copy-right {
  color: #212529;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

#navbarFooter {
  color: #007bff;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  gap: 31.8px;
}

#navbarFooter li a {
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  #footerSection {
    display: flex;
    justify-content: center;
  }

  #navbarFooter {
    gap: 18px;
  }
}
